body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.time {
    text-align: right;
}

.welcome-time {
    font-weight: bold;
    padding: 20px;
    background-color: rgb(231, 229, 229);
}

button:hover {
    background-color: yellow;
  }