/* Apply Materialize styles to the body element */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
    color: #ffffff;
  }
  
  html {
    border: 10px solid #fb8c00;
  }
  
  /* Apply Materialize styles to the main element */
  main {
    flex: 1 0 auto;
  }
  
  /* Apply Materialize styles to the welcome-time class */
  .welcome-time {
    font-weight: bold;
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
  }

  /* Apply Materialize styles to the buttons when hovered */
  button:hover {
    background-color: #ff9800;
  }
  
  /* Apply Materialize styles to the form label */
  .form-label {
    color: #ffffff;
    font-size: 18px;
  }
  
  /* Apply Materialize styles to the form input */
  input[type="text"] {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
  }
  
  /* Apply Materialize styles to the button */
  .btn-large {
    font-size: 18px;
    padding: 20px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ff9800;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(34, 33, 31, 0.5);
    transition: transform 0.2s ease-in-out;
    color: #ffffff;
    text-align: center;
    
  }
  
  #category_1{
    padding-top: 0.15cm;
    padding-bottom: 15%;
    }
  
  #category_2{
    padding-top: 0.15cm;
    padding-bottom: 15%;
    }

  .container.first-page .col.s12.m6 {
     color: #1d1b19;
      font-size: 24px;
     font-weight: bold;
    text-align: center;
      }
      
    .container.first-page .col.s12.m6 p {      
      font-size: 18px;
      font-weight: normal;
      }
      
    .container.first-page .col.s12.m6 button {
      background-color: #ff9800;
      color:#fff ;
      font-size: 18px;
      font-weight: bold;
      margin-top: 20px;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
      border-radius: 5px;
      }
      
      .container.first-page .col.s12.m6 button:hover {
        background-color: #f57c00;
      }

 /* .container.first-page h4 {
     color: #fb8c00;
     font-size: 2rem;
     font-weight: bold;
    }
*/
  
  
  .btn-large:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 30px rgba(41, 39, 36, 0.5);
  }

  /* Apply Materialize styles to the header */
  .header {
    font-size: 56px;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 3px 3px #ff9800;
  }
  
  /* Apply Materialize styles to the question-title class */
  .question-title {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px #ff9800;
    color: #ff9800;
  }
  
  /* Apply Materialize styles to the answer-choices class */
  .answer-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


  
  /* Apply Materialize styles to the collection-item class */
  .collection-item {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0px 5px 20px rgba(255, 152, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    text-align: center;
  }
  
  .collection-item:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 30px rgba(255, 152, 0, 0.2);
  }

  .answer-choices{
    font-size: large;
    }

  .science_answers{
    margin-top: 0.50cm;
    font-size: x-large;
  }

  .welcome-time{
   margin-top: 50px;
  }
   
  .welcome{
    font-size: medium;
    
  }

   .score{
    color: black;
    font-size: 48px;
    
  }
  
  /* Apply Materialize styles to the correct class */
  .correct {
    color: #00ff00;
  }
  
  /* Apply Materialize styles to the wrong class */
  .wrong {
    color: #ff0000;
  }
  
  /* Apply Materialize styles to the footer */
  footer {
    padding: 0%;
    
  }